parameters:
    level: 5
    reportUnmatchedIgnoredErrors: true
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
        - src/Migrations/*
        - src/Tests/*

includes:
    - phpstan-baseline.neon