<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
		<plugin>

            <!-- the plugin name [A-Za-z_] -->
            <pluginName>ESBackendSearch</pluginName>

            <!-- a short description -->
			<pluginDescription><![CDATA[]]></pluginDescription>

            <!-- meta data -->
            <pluginVersion>1.0</pluginVersion>
            <pluginRevision>1</pluginRevision>
            <pluginBuildTimestamp>0</pluginBuildTimestamp>

            <!-- put in the URL for the plugin configuration eg. /plugin/ESBackendSearch/admin/index -->
            <pluginIframeSrc></pluginIframeSrc>

            <!-- className of the plugin which extends Pimcore_API_Plugin_Abstract-->
			<pluginClassName>\ESBackendSearch\Plugin</pluginClassName>

            <!-- include paths relative to plugin-directory -->
			<pluginIncludePaths>
				<path>/ESBackendSearch/lib</path>
				<path>/ESBackendSearch/models</path>
			</pluginIncludePaths>

			<!-- namespaces to register with autoloader-->
			<pluginNamespaces>
				<namespace>ESBackendSearch</namespace>
			</pluginNamespaces>

			<!-- js files with path relative to plugin-directory -->
			<pluginJsPaths-extjs6>
                <path>/plugins/ESBackendSearch/static6/js/startup.js</path>
				<path>/plugins/ESBackendSearch/static6/js/selector.js</path>
				<path>/plugins/ESBackendSearch/static6/js/searchConfigPanel.js</path>
				<path>/plugins/ESBackendSearch/static6/js/searchConfig/conditionPanelContainerBuilder.js</path>
				<path>/plugins/ESBackendSearch/static6/js/searchConfig/conditionPanel.js</path>
				<path>/plugins/ESBackendSearch/static6/js/searchConfig/resultPanel.js</path>
				<path>/plugins/ESBackendSearch/static6/js/searchConfig/conditionAbstractPanel.js</path>
				<path>/plugins/ESBackendSearch/static6/js/searchConfig/conditionEntryPanel.js</path>
				<path>/plugins/ESBackendSearch/static6/js/searchConfig/conditionGroupPanel.js</path>
				<path>/plugins/ESBackendSearch/static6/js/searchConfig/fieldConditionPanel/default.js</path>
				<path>/plugins/ESBackendSearch/static6/js/searchConfig/fieldConditionPanel/localizedfields.js</path>
				<path>/plugins/ESBackendSearch/static6/js/searchConfig/fieldConditionPanel/numeric.js</path>
				<path>/plugins/ESBackendSearch/static6/js/searchConfig/fieldConditionPanel/href.js</path>
				<path>/plugins/ESBackendSearch/static6/js/searchConfig/fieldConditionPanel/objects.js</path>
			</pluginJsPaths-extjs6>

			<!-- css files with path relative to plugin-directory -->
			<pluginCssPaths>
                <path>/plugins/ESBackendSearch/static6/css/admin.css</path>
			</pluginCssPaths>
		</plugin>
</zend-config>
