
services:

    _defaults:
        autowire: true
        autoconfigure: true

    AdvancedObjectSearchBundle\Installer:
        public: true
        arguments:
            $bundle: "@=service('kernel').getBundle('AdvancedObjectSearchBundle')"

    # auto-register all controllers as services
    AdvancedObjectSearchBundle\Controller\:
        resource: '../../Controller'
        public: true
        tags: ['controller.service_arguments']

    bundle.advanced_object_search.es_client:
        class: Elasticsearch\Client
        factory: ['AdvancedObjectSearchBundle\Tools\EsClientFactory', getESClient]

    bundle.advanced_object_search.service:
        alias: AdvancedObjectSearchBundle\Service

    AdvancedObjectSearchBundle\Service:
        arguments:
            - '@logger'
            - '@pimcore_admin.security.token_storage_user_resolver'
            - '@bundle.advanced_object_search.es_client'
            - '@bundle.advanced_object_search.filter_locator'
            - '@event_dispatcher'
        calls:
            - [setCoreFieldsConfig, ['%advanced_object_search.core_fields_configuration%']]
        tags:
            - { name: monolog.logger, channel: pimcore_advanced_object_search }

    bundle.advanced_object_search.eventlisteners:
        class: AdvancedObjectSearchBundle\EventListener\IndexUpdateListener
        arguments:
            - '@AdvancedObjectSearchBundle\Service'
        tags:
            - { name: kernel.event_listener, event: pimcore.dataobject.postUpdate, method: updateObject }
            - { name: kernel.event_listener, event: pimcore.dataobject.postAdd, method: updateObject }
            - { name: kernel.event_listener, event: pimcore.dataobject.preDelete, method: deleteObject }
            - { name: kernel.event_listener, event: pimcore.class.postUpdate, method: updateMapping }
            - { name: kernel.event_listener, event: pimcore.class.postDelete, method: deleteIndex }

    AdvancedObjectSearchBundle\Maintenance\UpdateQueueProcessor:
        tags:
            - { name: pimcore.maintenance.task, type: advancedobjectsearch_update_queue }
            # Note: When Pimcore v5 support is dropped, this can be removed.
            - { name: kernel.event_listener, event: pimcore.system.maintenance, method: registerMaintenanceJob }

    bundle.advanced_object_search.filter_locator:
        class: Symfony\Component\DependencyInjection\ServiceLocator
        tags: ['container.service_locator']

    bundle.advanced_object_search.filter.default:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\DefaultAdapter
        shared: false

    bundle.advanced_object_search.filter.calculatedValue:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\CalculatedValue
        shared: false

    bundle.advanced_object_search.filter.checkbox:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\Checkbox
        shared: false

    bundle.advanced_object_search.filter.country:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\Country
        shared: false

    bundle.advanced_object_search.filter.countrymultiselect:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\Countrymultiselect
        shared: false

    bundle.advanced_object_search.filter.date:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\Date
        shared: false

    bundle.advanced_object_search.filter.datetime:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\Datetime
        shared: false

    bundle.advanced_object_search.filter.fieldcollections:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\Fieldcollections
        shared: false

    AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\ManyToOneRelation:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\ManyToOneRelation
        shared: false

    bundle.advanced_object_search.filter.language:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\Language
        shared: false

    bundle.advanced_object_search.filter.languagemultiselect:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\Languagemultiselect
        shared: false

    bundle.advanced_object_search.filter.localizedfields:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\Localizedfields
        shared: false

    AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\ManyToManyRelation:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\ManyToManyRelation
        shared: false

    AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\AdvancedManyToManyRelation:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\AdvancedManyToManyRelation
        shared: false

    bundle.advanced_object_search.filter.multiselect:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\Multiselect
        shared: false

    bundle.advanced_object_search.filter.numeric:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\Numeric
        shared: false

    bundle.advanced_object_search.filter.objectbricks:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\Objectbricks
        shared: false

    AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\ManyToManyObjectRelation:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\ManyToManyObjectRelation
        shared: false

    AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\AdvancedManyToManyObjectRelation:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\AdvancedManyToManyObjectRelation
        shared: false

    bundle.advanced_object_search.filter.quantityValue:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\QuantityValue
        shared: false

    bundle.advanced_object_search.filter.select:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\Select
        shared: false

    bundle.advanced_object_search.filter.time:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\Time
        shared: false

    bundle.advanced_object_search.filter.user:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\User
        shared: false

    bundle.advanced_object_search.filter.table:
        class: AdvancedObjectSearchBundle\Filter\FieldDefinitionAdapter\Table
        shared: false

    # auto-register all commands as services
    AdvancedObjectSearchBundle\Command\ProcessUpdateQueueCommand: ~
    AdvancedObjectSearchBundle\Command\ReindexCommand: ~
    AdvancedObjectSearchBundle\Command\UpdateMappingCommand: ~
